body { 
  background-color: black; 
  padding: 0; 
  margin: 0;
  text-shadow:
  -1px -1px 0 #000,  
   1px -1px 0 #000,
   -1px 1px 0 #000,
    1px 1px 0 #000;
    color: white;
}

#canvas {
  display:block;
}

#Bg_Options{
  position: absolute;
  margin-top: 350px;
  padding: 5px;
}

input{
  display:block
}

#ballcolor{
  position: absolute;
  margin-top: 350px;
  padding: 5px;
}